/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.row {
  padding-bottom: 25px;
}

.panel {
	background-color: rgb(200,200,220);
	text-color: black;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	font-size: 60px;
}
