[Unit]
Description=Memory Game

[Service]
Type=simple
User=memory-app
Group=memory-app
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memory-app/memory-csstransky
ExecStart=/home/memory-app/memory-csstransky/start.sh

[Install]
WantedBy=multi-user.target
